In [36]:
import pandas as pd
import operator
from difflib import SequenceMatcher

xl=pd.ExcelFile('../Spreadsheet/Grand_Prix_Post_Masters_2016.xls')

xl.sheet_names

[u'Male',
 u'Female',
 u'Agegrade',
 u'Totals Worksheet',
 u'Hangover',
 u'10M',
 u'ROTG',
 u'Sheet2']

In [37]:
df=xl.parse('Female')

In [38]:
df.head()

,"Race #1 Hangover Half Marathon, January 1, 2016",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,Female Open,NaN,Female 30-39,NaN,Female 40-49,NaN,Female 50-59,NaN,Female 60-69,NaN,Female 70-99
1,1,12.0,Michelle Davis,12.0,Karen Bertasso,12.0,Erin Corcoran,12.0,Inge Aiken,12,Martha Degrazia,12.0,NaN
2,2,10.0,Ping Wong,10.0,Kristen Quaresimo,10.0,Sally Drake,10.0,Denise Iannazotto,10,Cathy Sliwinski,10.0,NaN
3,3,8.0,Michelle Pratt,8.0,Meghan Mortensen,8.0,Karen Dolge,8.0,Linda Kimmey,8,Karen Spinozzi,8.0,NaN
4,4,7.0,Jennifer Kehn,7.0,Kari Deer,7.0,Kimberly Miseno,7.0,Maureen Fitzgerald,7,Joan Celentano,7.0,NaN

In [43]:
new=df.ix[:,11:13]
new=new.dropna()
new=new.reset_index()

In [44]:
score(new)

20 Eiko Bogue
20 Anny Stockman
12 Marge Rajczewski

In [8]:
def score(age_results):
    
    dicti={}

    for row in age_results.index:
        #name=new.NameO[row]
        name=age_results.iloc[row,2]

        p=age_results.iloc[row,1]
        if name in dicti.keys():
            points=dicti[name]
            points.append(p)
        else:
            bestmatch=0
            bestkey=None
            for key in dicti.keys():
                testmatch=SequenceMatcher(None, name, key).ratio()
                if (testmatch>bestmatch):
                    bestmatch=testmatch
                    bestkey=key
                       
            if (bestmatch>0.85):
                points=dicti[bestkey]
                points.append(p)
            else:
                dicti[name]=[p]

    totals={}

    for name in dicti:
        points=dicti[name]
        points.sort(reverse=True)
        total=points[0:6]
        totals[name]=sum(total)


    sorted_totals = sorted(totals.items(), key=operator.itemgetter(1), reverse=True)

    for item in sorted_totals:
        print str(int(item[1]))+' '+item[0]

In [7]:
test=dict['Ben Heller']

print test
print test.sort(reverse=True)
print test

TypeError: 'type' object has no attribute '__getitem__'

In [8]:
test=[1,2,3,4,5]
print test[0:10]

[1, 2, 3, 4, 5]

In [19]:
m=SequenceMatcher(None, "Mick Blicker", "M. Blicker")
print m.ratio()

0.818181818182