In [1]:
import pandas as pd

In [2]:
masters=pd.read_csv('../data/2016/masters10k.csv')
masters.head()

,Place,Fname,Lname,Age,Sex,City,State,Div Place,Gender Place,Time,Pace,HMRRC Event
0,1,James,O'Connor,42,M,Troy,NY,1,1,35:59,5:48,Y
1,2,Tom,Kracker,51,M,Delmar,NY,1,2,37:36,6:04,Y
2,3,John,Stadtlander,50,M,Clifton Park,NY,2,3,37:55,6:07,Y
3,4,Jon,Rocco,49,M,Colonie,NY,1,4,38:27,6:12,Y
4,5,Aaron,Knobloch,40,M,Guilderland,NY,2,5,38:43,6:14,Y

In [3]:
place_strings=['place','rank']
test='Places'
if 'Place'.lower() in place_strings:
    print 'match!'
else:
    print 'no match :('

match!

In [4]:
masters.columns

Index([u'Place', u'Fname', u'Lname', u'Age', u'Sex', u'City', u'State',
       u'Div Place', u'Gender Place', u'Time', u'Pace', u'HMRRC Event'],
      dtype='object')

In [5]:
import sys
sys.path.append('../util/race/')

import header
reload(header)
from header import RaceHeader


print RaceHeader.headers

{'city': ['city'], 'gender': ['gender', 'sex'], 'age': ['age'], 'gun_time': ['gtime', 'time', 'guntime', 'gun_time'], 'lname': ['last_name', 'last name', 'lname', 'last'], 'pace': ['pace'], 'state': ['state', 'st'], 'place': ['place'], 'fname': ['first_name', 'first name', 'fname', 'first'], 'hmrrc': ['member', 'HMRRC Event'], 'div_place': ['div place'], 'gender_place': ['gender Place']}

In [7]:
headers=RaceHeader.headers

print type(headers)
for key in headers:
    print headers[key]
    for c in masters.columns:
        if c.lower() in headers[key]:
            print c.lower()+' matches'

<type 'dict'>
['city']
city matches
['gender', 'sex']
sex matches
['age']
age matches
['gtime', 'time', 'guntime', 'gun_time']
time matches
['last_name', 'last name', 'lname', 'last']
lname matches
['pace']
pace matches
['state', 'st']
state matches
['place']
place matches
['first_name', 'first name', 'fname', 'first']
fname matches
['member', 'HMRRC Event']
['div place']
div place matches
['gender Place']