In [13]:
import pandas as pd
import operator
from difflib import SequenceMatcher

xl=pd.ExcelFile('../data/2016/Spreadsheet/Grand_Prix_Post_CM_2016.xls')

xl.sheet_names

[u'Male',
 u'Female',
 u'Agegrade',
 u'Totals Worksheet',
 u'Hangover',
 u'DistServ',
 u'10M',
 u'ROTG',
 u'Robinson']

In [14]:
df=xl.parse('Female')

In [15]:
df.head()

,"Race #1 Hangover Half Marathon, January 1, 2016",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,Female Open,NaN,Female 30-39,NaN,Female 40-49,NaN,Female 50-59,NaN,Female 60-69,NaN,Female 70-99
1,1,12.0,Michelle Davis,12.0,Karen Bertasso,12.0,Erin Corcoran,12.0,Inge Aiken,12.0,Martha Degrazia,12.0,NaN
2,2,10.0,Ping Wong,10.0,Kristen Quaresimo,10.0,Sally Drake,10.0,Denise Iannazotto,10.0,Cathy Sliwinski,10.0,NaN
3,3,8.0,Michelle Pratt,8.0,Meghan Mortensen,8.0,Karen Dolge,8.0,Linda Kimmey,8.0,Karen Spinozzi,8.0,NaN
4,4,7.0,Jennifer Kehn,7.0,Kari Deer,7.0,Kimberly Miseno,7.0,Maureen Fitzgerald,7.0,Joan Celentano,7.0,NaN

In [16]:
for i in range(6):
    
    new=df.ix[:,1+i*2:1+(i+1)*2]
    new=new.dropna()
    new=new.reset_index()
    score(new)
    print
    print

34,Michelle Davis
24,Julia Flower
20,Nicole Soblosky
20,Lisa D'Aniello
12,Amy Babeu
12,Jennifer Kehn
12,Alex Thompson
12,Allison Connor
10,Ping Wong
10,Hannah Gallagher
8,Jourdyn Nicholson
8,Michelle Pratt
7,Kerry Flower
7,Hillary Johnson
7,Julia Barker
6,Clare Browne
6,Irene Somerville
5,Kersten Anderson
4,Tara Joyce
4,Katherine Clemente
3,Heather Graves
3,Tara Dee
2,Karlie Mangette
1,Ashleigh Nelson
1,Elizabeth Burke
1,Alison O'Brien


21,Liz Chauhan
20,Kristen Quaresimo
20,Mollie Turner
18,Meghan Mortensen
13,Laura Zima
12,Elizabeth Chauhan
12,Danielle Maslowsky
12,Kristina Gracey
12,Karen Bertasso
12,Lisa D'Aniello
10,Jennifer Bennice
10,Shelly Binsfeld
9,Molly Casey
8,Samantha McBee
8,Larissa Bates
7,Meleah Wright
7,Kari Deer
6,Stephanie Harrington
5,Colleen Ottalagano-Mc
4,Liz Ricci
4,Karen DeFeo
4,Sara Westcott
3,Heidi Nark
3,Emily Russell
2,Wendy Colonno
2,Erin Wrightson
1,Kristin Zielinski
1,Rebecca Tennyson
1,Evan Kujawski


34,Erin Corcoran
31,Lara Stelmaszyk
27,Sally Drake
16,Karen Dolge
12,Emily Bryans
12,Virginia Larner
12,Kari Gathen
11,Colleen Murray
10,Kathy VanValen
10,Linda DeDominicis
10,Miriam Hardin
8,Darcy Rickard
8,Jess Northan
8,Lauren C Jones
7,Kimberly Miseno
7,Allison Bradley
7,Veronica Perez
6,Shannon Pinkowski
6,Jayne Maloney
5,Terra Stone
5,Anne Miralles
4,Alicia Gillen
4,Jill Koziol
3,Ann McAvoy
3,Brenda Fish
2,Karen Blesser
2,Dana Mantes Harris
2,Teresa Grant
1,Sharon Strodl
1,Christine Chung


25,Colleen Brackett
19,Nancy Taormina
14,Maureen Fitzgerald
12,Inge Aiken
12,Anne Hurley
12,Beth Stalker
12,Nancy Briskie
12,Mary Fenton
11,Lauren Herbs
10,Nancy Nicholson
10,Lori Francesconi
10,Chris Varley
10,Karen Gerstenberger
10,Denise Iannazotto
9,Kim Law
8,Linda Kimmey
8,Kathleen Dougherty
8,Sharon Fellner
8,Sue Cleary
8,Gail Doering
8,Diane Ehmann
8,Stephanie Landy
7,Jennifer Lawrence
6,Mary Buck
4,Diane Hanson
4,Jenny Lee
4,Kristen Hislop
3,Denise Yonder
2,Colette Van Kerckvoor
1,Kathleen Beeman
1,Sherri Pigneti


66,Martha Degrazia
25,Joan Celentano
20,Susan Wong
16,Elaine Morris
15,Mary Collins-
12,Katherine Ambrosio
12,Donna Lustenhovwer
12,Karen Dott
10,Cathy Sliwinski
10,Catherine Sliwinski
10,Erika Oesterle
10,Mary Ann Macri
8,Anne Tyrrell
8,Karen Spinozzi
8,Anne Lytwynec
7,Phyllis Fox
7,Debra Kelley
7,Carolyn George
6,Marie Arrao
6,Sue Nealon
5,Darlene Cardillo
5,Cathy Soloyna
2,Valerie Pezzula
2,Suzanne Nealon
1,Diane Thompson


44,Anny Stockman
30,Eiko Bogue
12,Marge Rajczewski

In [17]:
new=df.ix[:,1:3]
new=new.dropna()
new=new.reset_index()
score(new)

34,Michelle Davis
24,Julia Flower
20,Nicole Soblosky
20,Lisa D'Aniello
12,Amy Babeu
12,Jennifer Kehn
12,Alex Thompson
12,Allison Connor
10,Ping Wong
10,Hannah Gallagher
8,Jourdyn Nicholson
8,Michelle Pratt
7,Kerry Flower
7,Hillary Johnson
7,Julia Barker
6,Clare Browne
6,Irene Somerville
5,Kersten Anderson
4,Tara Joyce
4,Katherine Clemente
3,Heather Graves
3,Tara Dee
2,Karlie Mangette
1,Ashleigh Nelson
1,Elizabeth Burke
1,Alison O'Brien

In [7]:
def score(age_results):
    
    dicti={}

    for row in age_results.index:
        #name=new.NameO[row]
        #print row
        #print age_results.iloc[row,2]
        name=age_results.iloc[row,2]

        p=age_results.iloc[row,1]
        if name in dicti.keys():
            points=dicti[name]
            points.append(p)
        else:
            bestmatch=0
            bestkey=None
            for key in dicti.keys():
                testmatch=SequenceMatcher(None, name, key).ratio()
                if (testmatch>bestmatch):
                    bestmatch=testmatch
                    bestkey=key
                       
            if (bestmatch>0.85):
                points=dicti[bestkey]
                points.append(p)
            else:
                dicti[name]=[p]

    totals={}

    for name in dicti:
        points=dicti[name]
        points.sort(reverse=True)
        total=points[0:6]
        totals[name]=sum(total)


    sorted_totals = sorted(totals.items(), key=operator.itemgetter(1), reverse=True)

    i=1
    for item in sorted_totals:
        print str(int(item[1]))+','+item[0]
        i=i+1

In [7]:
test=dict['Ben Heller']

print test
print test.sort(reverse=True)
print test

TypeError: 'type' object has no attribute '__getitem__'

In [8]:
test=[1,2,3,4,5]
print test[0:10]

[1, 2, 3, 4, 5]

In [19]:
m=SequenceMatcher(None, "Mick Blicker", "M. Blicker")
print m.ratio()

0.818181818182