In [9]:
import pandas as pd

import sys
sys.path.append('../util/runner/')

import matcher
reload(matcher)

In [10]:
hmrrc=pd.read_csv('../data/2016/2016-06-12MembersHudson.csv')
hmrrc.shape

(2895, 15)

In [11]:
hmrrc.head()

,﻿Member ID,First name,Last name,Gender,Phone,e-Mail,"Birthdate (e.g., 01 Jun 1954)",City,State,Zip code,Created on,Membership enabled,Membership level,Membership status,Member bundle ID or email
0,257647,New England Runner,_,O,555-5555,NEW03582000@hmrrc.com,01 Jan 2008,South Weymouth,MA,02190,02/08/2008 22:05:19,yes,Lifetime,Active,NaN
1,257804,The Adirondack Runners,_,O,555-5555,ADI06362000@hmrrc.com,01 Jan 2008,Glens Falls,NY,12801,02/08/2008 22:06:37,yes,Individual,Active,NaN
2,258209,"Screen Designs, Inc.",_,0,555-5555,SCR09991000@hmrrc.com,01 Jan 2008,000,00,000,02/08/2008 22:11:38,yes,Individual,Active,NaN
3,9304029,Matthew,Abatto,Male,NaN,mabatto@chacompanies.com,15 October 1972,Clifton Park,NY,12065,02/18/2013 19:43:54,yes,Individual,Active,NaN
4,31841286,Kathryn,Abbatiello,female,518-496-8364,katieabbatiello@gmail.com,12/08/74,Delanson,NY,12053,03/07/2016 12:35:44,yes,Couple,Active,katieabbatiello@gmail.com

In [12]:
ds=pd.read_csv('../data/2016/ColonieMile/ColonieMile.csv')
ds.head()

   Place FIRST_NAME  LAST_NAME  Ag Sex              City      Time
0      1       Eric      Young  24   M            Latham  04:41.70
1      2      Brian      Woods  31   M  Saratoga Springs  04:44.40
2      3       Josh     Merlis  34   M            Albany  04:47.80
3      4    Michael  Nickerson  27   M      Clifton Park  04:56.24
4      5       Nick    Webster  27   M            Albany  05:00.90

In [13]:
matcher.matchRunner('fred', 'smith', 24, 'Troy', 'Freddie', 'Smoot', 29, 'Troy')

2.8511149228130357

In [14]:
matcher.matchRunner('Fred', 'Smith', 24, 'Troy', 'Fred', 'Smith', 24, 'Troy')

4.0

In [15]:
ds['member']='no'

In [16]:
ds.head()

   Place FIRST_NAME  LAST_NAME  Ag Sex              City      Time member
0      1       Eric      Young  24   M            Latham  04:41.70     no
1      2      Brian      Woods  31   M  Saratoga Springs  04:44.40     no
2      3       Josh     Merlis  34   M            Albany  04:47.80     no
3      4    Michael  Nickerson  27   M      Clifton Park  04:56.24     no
4      5       Nick    Webster  27   M            Albany  05:00.90     no

In [17]:
i=0
max_score=[]
match_info=[]
for index, row_ds in ds.iterrows():
    max_score.append(0)
    match_info.append([])
    for index, row_hmrrc in hmrrc.iterrows():
        score = matcher.matchRunner(row_ds.FIRST_NAME, row_ds.LAST_NAME, 20, "none", row_hmrrc['First name'], row_hmrrc['Last name'], 20, "none")
        if (score>max_score[i]):
            max_score[i]=score
            match_info[i]=[row_ds.FIRST_NAME, row_ds.LAST_NAME, row_hmrrc['First name'], row_hmrrc['Last name']]
    i=i+1

In [20]:

for i in range(len(max_score)):
    #print max_score[i]," ",match_info[i]
    if (max_score[i]>3.4):
        print 'yes'
        ds.ix[i,'member']='yes'

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes

In [21]:
ds.head()

   Place FIRST_NAME  LAST_NAME  Ag Sex              City      Time member
0      1       Eric      Young  24   M            Latham  04:41.70    yes
1      2      Brian      Woods  31   M  Saratoga Springs  04:44.40     no
2      3       Josh     Merlis  34   M            Albany  04:47.80    yes
3      4    Michael  Nickerson  27   M      Clifton Park  04:56.24    yes
4      5       Nick    Webster  27   M            Albany  05:00.90    yes

In [22]:
ds.to_csv('../data/2016/ColonieMile/ColonieMile2.csv', index=False)