In [1]:
import pandas as pd

In [7]:
race=pd.read_fwf('../data/2016/stockade/results.txt')

In [8]:
race.shape

(1452, 21)

In [9]:
race.head()

,PLACE,TIME,PACE,BIB,NAME,AGE,SEX,DIVPL,SEXPL,DIV,...,ST,1ST 5K,2ND 5K,3RD 5K,10K,15K,LAST0.3,GUN TIME,GUN PACE NET TIME NET,PACE.1
0,1.0,45:23,4:53,5.0,Louis Serafini,25.0,M,1.0,1.0,OVA_M,...,MA,15:16,15:20,14:48,30:35,44:00,1:23,45:23,4:53 45:23 4:53,NaN
1,2.0,45:30,4:53,2.0,John Raneri,25.0,M,2.0,2.0,OVA_M,...,CT,15:15,15:21,14:55,30:35,44:07,1:23,45:30,4:53 45:30 4:53,NaN
2,3.0,45:50,4:56,3.0,Jake Sienko,24.0,M,3.0,3.0,OVA_M,...,RI,15:16,15:20,15:15,30:36,44:26,1:25,45:50,4:56 45:50 4:56,NaN
3,4.0,46:20,4:59,4.0,Daniel Lennon,22.0,M,4.0,4.0,OVA_M,...,NY,15:16,15:34,15:31,30:49,44:50,1:30,46:20,4:59 46:20 4:59,NaN
4,5.0,46:50,5:02,50.0,John Busque,24.0,M,5.0,5.0,OVA_M,...,CT,15:45,15:40,15:27,31:24,45:24,1:27,46:50,5:02 46:50 5:02,NaN

In [11]:
race.to_csv('../data/2016/stockade/results.csv')

In [2]:
race=pd.read_csv('../data/2016/stockade/stockade.csv')

In [5]:
race.head()
race.columns

Index([u'PLACE', u'NAME', u'AGE', u'SEX', u'CITY', u'ST', u'TIME', u'PACE'], dtype='object')

In [15]:
temp = pd.DataFrame(race.NAME.str.split(' ',1).tolist(),
                                   columns = ['FIRST_NAME','LAST_NAME'])

race=race.drop('NAME',1)
race=race.join(temp)
race.head()

   PLACE  AGE SEX           CITY  ST   TIME  PACE FIRST_NAME LAST_NAME
0      1   25   M       Brighton  MA  45:23  4:53      Louis  Serafini
1      2   25   M  New Fairfield  CT  45:30  4:53       John    Raneri
2      3   24   M     Woonsocket  RI  45:50  4:56       Jake    Sienko
3      4   22   M  Morrisonville  NY  46:20  4:59     Daniel    Lennon
4      5   24   M     Manchester  CT  46:50  5:02       John    Busque

In [17]:
race=race.to_csv('../data/2016/stockade/stockade2.csv')