In [1]:
import pandas as pd

In [5]:
race=pd.read_fwf('../data/2016/Tawasentha/tawasentha2_2016.txt')
race.head()

   Place   Bib                   Name  Age Sex       City  St   Time  Pace
0      1  1053            Josh Merlis   34   M     Albany  NY  19:20  6:14
1      2  1054       Richard Messineo   27   M     Nassau  NY  19:30  6:17
2      3  1015  Christopher Chromczak   31   M     Delmar  NY  20:00  6:27
3      4  1096             Noah Valvo   17   M   Delanson  NY  20:31  6:37
4      5  1044         Aaron Knobloch   40   M  Niskayuna  NY  20:57  6:45

In [6]:
test = pd.DataFrame(race.Name.str.split(' ',1).tolist(),
                                   columns = ['FIRST_NAME','LAST_NAME'])

race=race.drop('Name',1)
race=race.join(test)
#race=race.drop('Unnamed: 0',1)

ValueError: labels ['Unnamed: 0'] not contained in axis

In [7]:
race.head()

   Place   Bib  Age Sex       City  St   Time  Pace   FIRST_NAME  LAST_NAME
0      1  1053   34   M     Albany  NY  19:20  6:14         Josh     Merlis
1      2  1054   27   M     Nassau  NY  19:30  6:17      Richard   Messineo
2      3  1015   31   M     Delmar  NY  20:00  6:27  Christopher  Chromczak
3      4  1096   17   M   Delanson  NY  20:31  6:37         Noah      Valvo
4      5  1044   40   M  Niskayuna  NY  20:57  6:45        Aaron   Knobloch

In [9]:
race.to_csv('../data/2016/Tawasentha/tawasentha2_2016.csv')