In [8]:
import sqlite3
import pandas as pd

In [3]:
conn=sqlite3.connect('db.sqlite3')

In [4]:
cursor=conn.cursor()

In [6]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[(u'django_migrations',),
 (u'sqlite_sequence',),
 (u'auth_group',),
 (u'auth_group_permissions',),
 (u'auth_user_groups',),
 (u'auth_user_user_permissions',),
 (u'django_admin_log',),
 (u'django_content_type',),
 (u'auth_permission',),
 (u'auth_user',),
 (u'django_session',),
 (u'results_race',),
 (u'results_runner',),
 (u'results_result',)]

In [7]:
cursor.execute("PRAGMA table_info(results_result)")
cursor.fetchall()

[(0, u'id', u'integer', 1, None, 1),
 (1, u'time', u'time', 1, None, 0),
 (2, u'race_id', u'integer', 1, None, 0),
 (3, u'runner_id', u'integer', 0, None, 0),
 (4, u'first_name', u'varchar(200)', 1, None, 0),
 (5, u'last_name', u'varchar(200)', 1, None, 0),
 (6, u'gender', u'varchar(1)', 1, None, 0),
 (7, u'city', u'varchar(200)', 1, None, 0),
 (8, u'state', u'varchar(2)', 1, None, 0),
 (9, u'age', u'integer', 1, None, 0),
 (10, u'bib', u'integer', 1, None, 0),
 (11, u'pace', u'time', 1, None, 0),
 (12, u'splits', u'varchar(400)', 1, None, 0)]

In [9]:
df=pd.read_sql("select * from results_result",conn)

In [10]:
df.head()

,id,time,race_id,runner_id,first_name,last_name,gender,city,state,age,bib,pace,splits
0,1,00:20:47,1,3.0,Moop,Looper,M,,,0,0,00:00:00,
1,2,00:21:10,1,1.0,Bill,Smith,M,,,0,0,00:00:00,
2,3,00:23:45,1,4.0,Porky,Pitts,M,,,0,0,00:00:00,
3,4,00:40:09,2,1.0,Bill,Smith,M,,,0,0,00:00:00,
4,5,00:48:32,2,2.0,Marky,Summers,M,,,0,0,00:00:00,

In [11]:
df

,id,time,race_id,runner_id,first_name,last_name,gender,city,state,age,bib,pace,splits
0,1,00:20:47,1,3.0,Moop,Looper,M,,,0,0,00:00:00,
1,2,00:21:10,1,1.0,Bill,Smith,M,,,0,0,00:00:00,
2,3,00:23:45,1,4.0,Porky,Pitts,M,,,0,0,00:00:00,
3,4,00:40:09,2,1.0,Bill,Smith,M,,,0,0,00:00:00,
4,5,00:48:32,2,2.0,Marky,Summers,M,,,0,0,00:00:00,
5,6,00:56:09,2,4.0,P.,Pitts,M,,,0,0,00:00:00,
6,7,00:20:31,1,NaN,Stephie,Smoots,F,,,0,0,00:00:00,

In [12]:
help(df.to_sql)

Help on method to_sql in module pandas.core.generic:

to_sql(self, name, con, flavor='sqlite', schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None) method of pandas.core.frame.DataFrame instance
    Write records stored in a DataFrame to a SQL database.

    Parameters
    ----------
    name : string
        Name of SQL table
    con : SQLAlchemy engine or DBAPI2 connection (legacy mode)
        Using SQLAlchemy makes it possible to use any DB supported by that
        library.
        If a DBAPI2 object, only sqlite3 is supported.
    flavor : {'sqlite', 'mysql'}, default 'sqlite'
        The flavor of SQL to use. Ignored when using SQLAlchemy engine.
        'mysql' is deprecated and will be removed in future versions, but
        it will be further supported through SQLAlchemy engines.
    schema : string, default None
        Specify the schema (if database flavor supports this). If None, use
        default schema.
    if_exists : {'fail', 'replace', 'append'}, default 'fail'
        - fail: If table exists, do nothing.
        - replace: If table exists, drop it, recreate it, and insert data.
        - append: If table exists, insert data. Create if does not exist.
    index : boolean, default True
        Write DataFrame index as a column.
    index_label : string or sequence, default None
        Column label for index column(s). If None is given (default) and
        `index` is True, then the index names are used.
        A sequence should be given if the DataFrame uses MultiIndex.
    chunksize : int, default None
        If not None, then rows will be written in batches of this size at a
        time.  If None, all rows will be written at once.
    dtype : dict of column name to SQL type, default None
        Optional specifying the datatype for columns. The SQL type should
        be a SQLAlchemy type, or a string for sqlite3 fallback connection.