In [7]:
import pandas as pd

In [8]:
masters=pd.read_csv('../data/2016/masters10k.csv')
masters.head()

,Place,Fname,Lname,Age,Sex,City,State,Div Place,Gender Place,Time,Pace,HMRRC Event
0,1,James,O'Connor,42,M,Troy,NY,1,1,35:59,5:48,Y
1,2,Tom,Kracker,51,M,Delmar,NY,1,2,37:36,6:04,Y
2,3,John,Stadtlander,50,M,Clifton Park,NY,2,3,37:55,6:07,Y
3,4,Jon,Rocco,49,M,Colonie,NY,1,4,38:27,6:12,Y
4,5,Aaron,Knobloch,40,M,Guilderland,NY,2,5,38:43,6:14,Y

In [9]:
place_strings=['place','rank']
test='Places'
if 'Place'.lower() in place_strings:
    print 'match!'
else:
    print 'no match :('

match!

In [10]:
masters.columns

Index([u'Place', u'Fname', u'Lname', u'Age', u'Sex', u'City', u'State',
       u'Div Place', u'Gender Place', u'Time', u'Pace', u'HMRRC Event'],
      dtype='object')

In [25]:
import sys
sys.path.append('../util/race/')

import header
reload(header)
from header import RaceHeader


print RaceHeader.headers

{'city': ['city'], 'gender': ['sex', 'gender'], 'age': ['age'], 'gun_time': ['time', 'gtime', 'guntime', 'gun_time'], 'lname': ['lname', 'last name', 'last'], 'pace': ['pace'], 'state': ['state', 'st'], 'place': ['place'], 'fname': ['fname', 'first name', 'first'], 'hmrrc': ['HMRRC Event', 'member'], 'div_place': ['div place'], 'gender_place': ['gender Place']}

In [6]:
for c in masters.columns:
    if c.lower() in RaceHeader.gender_list:
        print c+' is a match!'
        
for c in masters.columns:
    if c.lower() in RaceHeader.fname_list:
        print c+' is a match!'

Sex is a match!
Fname is a match!

In [29]:
headers=RaceHeader.headers

print type(headers)
for key in headers:
    print headers[key]

<type 'dict'>
['city']
['sex', 'gender']
['age']
['time', 'gtime', 'guntime', 'gun_time']
['lname', 'last name', 'last']
['pace']
['state', 'st']
['place']
['fname', 'first name', 'first']
['HMRRC Event', 'member']
['div place']
['gender Place']